//colores
$primarycolor: #14213d;
$secundarycolor: white;

//fuentes
$primaryfont: "Lobster";
$secundaryfont: sans-serif;

//mapas
$colores: (
    success: #8ac926,
    danger: #ae2012,
    info: #003566,
);