*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lobster';
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(55deg, rgba(2,0,36,1) 0%, rgba(18,110,235,0.9023984593837535) 35%, rgba(0,212,255,1) 100%);
    font-family: sans-serif;
    padding: 90px 20px 0px;
}

.header{
    background-color: #a4c3b2;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    height: 50px;
}

.navbar-link{
    text-decoration: none;
}

.navbar-link:hover {
    background-color: #cce3de; 
    transition: 0.5s;
}

.navbar-link{
    padding: 1px 3px;
}

.navbar-menu{
    display: flex;
    margin-right: 25px;
    list-style: none;
}

.navbar-item{
    font-size: 18px;
    margin: 0 5px;
    line-height: 10px;
    text-transform: uppercase;
    background: transparent;
    font-weight: semibold;
    color: #444;
    padding: 1rem 1.5rem;
    border: 2px solid #eee;
    border-radius: 5rem;
    transition: all ease-in;
    cursor: pointer;
    box-shadow: 5rem 5rem 1rem #ccc,
                -5rem -5rem 1rem #fff
}

.navbar-item{
    box-shadow: 5rem 5rem 1rem #fff,
                -5rem -5rem 1rem #ccc
}
.navbar-item{
    box-shadow: inset 2rem 2rem 5rem #fff,
            inset -2rem -2rem 5rem #ccc
}

h1{
    background: #ccc;
    background: radial-gradient(#145C9E, #D62246, #212922);
    font-family: system-ui;
    font-size: 60px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.titulo{
    text-align: center;
}

.nosotros{
    position: relative;
    margin: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
    height: 400px;
    width: 400px;
}

.imagen-nosotros img{
    width: 400px;
    height: 220px;
    border-radius: 4px;
}

.imagen-tienda img{
    width: 500px;
    height: 300px;
    border-radius: 4px;
}

.subtitulo{
    margin-bottom: 10px;
    background: #ccc;
    background: radial-gradient(#023e8a, #d62828, #000000);
    font-family: system-ui;
    font-size: 30px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation-name: cambiar-tamaño;
    animation-duration: 1.5s;
}

@keyframes cambiar-tamaño{
    0%{
        transform: scaleY(1);
    }
    25%{
        transform: scaleY(1.7);
    }
    60%{
        transform: scaleX(1);
    }
    100%{
        transform: scaleX(1.6);
    }
}

.tienda-online{
    position: relative;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
    height: 400px;
    width: 550px;
}


p{
    font-family: Roboto,'Helvetica Neue';
    font-style: unset;
    font-size: 18px;
}

.footer{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    height: 40px;
    margin-right: 25px;
    list-style: none;
}

.footer-link{
    text-decoration: none;
}

.footer-link:hover{
    background-color: #cce3de; 
    transition: 0.5s;
}

.footer-link{
    padding: 1px 3px;
}

.footer-item{
        font-size: 16px;
        margin: 0 5px;
        line-height: 10px;
        text-transform: uppercase;
        background: transparent;
        font-weight: semibold;
        color: #444;
        padding: 1rem 1.5rem;
        border: 2px solid #eee;
        border-radius: 5rem;
        transition: all ease-in;
        cursor: pointer;
        box-shadow: 5rem 5rem 1rem #ccc,
                    -5rem -5rem 1rem #fff
}
    
.footer-item{
    box-shadow: 5rem 5rem 1rem #fff,
                -5rem -5rem 1rem #ccc
}
.footer-item{
    box-shadow: inset 2rem 2rem 5rem #fff,
                inset -2rem -2rem 5rem #ccc
}

.numero{
    font-size: 16px;
    font-style: initial;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.nosotros-link{
    text-decoration: none;
    color: #fffbdb;
    font-size: 17px;
}

.tienda-link{
    text-decoration: none;
    color: #fffbdb;
    font-size: 17px;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);

    grid-template-areas: "inicio inicio inicio"
                        "nosotros tienda-online tienda-online"
                        "nosotros tienda-online tienda-online";
}

.contenedor > div,
.contenedor .inicio,
.contenedor .nosotros,
.contenedor .tienda-online {
    background: white;
    padding: 20px;
    border-radius: 4px;
}

.contenedor .inicio {
    background: #023047;
    color: #cce3de;
    text-align: center;
    grid-area: inicio;
}

.contenedor .nosotros {
    background-color: rgba(0, 0, 0, 0.1);
    color: #ccc;
    text-align: center;
    grid-area: nosotros;
    border-radius: 10px;
}

.contenedor .tienda-online {
    background-color: rgba(0, 0, 0, 0.1);
    color: #ccc;
    text-align: center;
    grid-area: tienda-online;
    border-radius: 10px;
}

@media (max-width: 590px) {
    .contenedor {
        grid-template-areas: "inicio inicio inicio"
                            "nosotros nosotros nosotros"
                            "tienda-online tienda-online tienda-online"
                            "footer footer footer";
}
}

@media (max-width: 780px) {
    .contenedor {
        grid-template-areas: "inicio inicio inicio"
                            "nosotros nosotros nosotros"
                            "tienda-online tienda-online tienda-online"
                            "footer footer footer";
    }
}

    @media (max-width: 1200px) {
        .contenedor {
            grid-template-areas: "inicio inicio inicio"
                                "nosotros nosotros nosotros"
                                "tienda-online tienda-online tienda-online"
                                "footer footer footer";
    }
}