* {
    margin: 0;
    padding: 0;
    font-family: 'Lobster';
}

body {
    background: rgb(33, 37, 41);
    background: radial-gradient(circle, rgba(33, 37, 41, 1) 9%, rgba(173, 181, 189, 1) 34%, rgba(13, 59, 102, 1) 59%);
    font-family: sans-serif;
}

.header {
    background: rgb(13, 12, 29);
    background: linear-gradient(351deg, rgba(13, 12, 29, 1) 0%, rgba(64, 61, 57, 1) 50%);
    height: 120px;
    width: 100%;
    top: 0;
    left 0;
}

.icono {
    height: 40px;
    width: 40px;
}

.navbar {
    max-width: 1346px;
    height: 55px;
    filter: drop-shadow(3px 3px 2px #14213d);
}

h1 {
    background: rgb(79, 119, 45);
    background: linear-gradient(55deg, rgba(79, 119, 45, 1) 42%, rgba(253, 255, 252, 1) 100%);
    font-family: system-ui;
    font-size: 60px;
    filter: drop-shadow(4px 4px 2px #14213d);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.header h1 {
    font-size: 60px;
}

.titulo {
    text-align: center;
}

.subtitulo {
    margin-bottom: 10px;
    background: rgb(79, 119, 45);
    background: linear-gradient(55deg, rgba(79, 119, 45, 1) 42%, rgba(253, 255, 252, 1) 100%);
    font-family: system-ui;
    font-size: 35px;
    filter: drop-shadow(3px 3px 1px #14213d);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#SliderBv5 {
    height: 600px;
    width: 600px;
    display: flex;
    display: grid;
    margin-left: 360px;
    margin-top: 100px;
    filter: drop-shadow(2px 2px 1px #14213d);
}

.h3-1 {
    color: gold;
    filter: drop-shadow(3px 3px 1px #14213d);

}

.h3-2 {
    color: gold;
    filter: drop-shadow(3px 3px 1px #14213d);
}

.carousel-inner p {
    background: black;
}

.footer {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    height: 40px;
    margin-right: 25px;
    list-style: none;
}

.footer-link {
    text-decoration: none;
}

.footer-link:hover {
    background-color: #cce3de;
    transition: 0.5s;
}

.footer-link {
    padding: 1px 3px;
}

.footer-item {
    filter: drop-shadow(2px 2px 1px #14213d);
    font-size: 16px;
    margin: 0 5px;
    line-height: 10px;
    text-transform: uppercase;
    background: transparent;
    font-weight: semibold;
    color: #444;
    padding: 1rem 1.5rem;
    border: 2px solid #eee;
    border-radius: 5rem;
    transition: all ease-in;
    cursor: pointer;
    box-shadow: 5rem 5rem 1rem #ccc,
        -5rem -5rem 1rem #fff
}

.footer-item {
    box-shadow: 5rem 5rem 1rem #fff,
        -5rem -5rem 1rem #ccc
}

.footer-item {
    box-shadow: inset 2rem 2rem 5rem #fff,
        inset -2rem -2rem 5rem #ccc
}

.numero {
    font-size: 16px;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.tienda-link {
    text-decoration: none;
    color: #fffbdb;
    font-size: 17px;
}

#SliderBv5 img {
    height: 620px;
    width: 500px;
    border-radius: 4px;
}